<!--<div fxLayout="column" fxFlex="100" style="padding: 50px">-->
<div fxLayout="column" fxFlex="100" class="main-router">
  <!-- Product Image and Name -->
  <div fxFlex="100" fxLayout="row" fxLayout.lt-md="row rap">
    <div style="min-width: 300px" fxFlex.lt-md="100" fxFlex="40">
      <div class="carousel-container marg-r-50" [ngStyle.lt-md]="{'margin-right': 0}">
        <carousel class="full-height" [slides]="slides"></carousel>
      </div>
    </div>
<!--    <div fxFlex="60" fxFlex.lt-md="100">-->
    <div fxFlex="60" fxFlex.lt-md="100">
      <div class="left">
        <h1>{{product.name}}</h1>
        <mat-divider></mat-divider>
        <p><strong><span class="default pad-b-50 opacity-text">{{'Σε'}} {{stores.length}} {{'αλυσίδες'}}</span></strong></p>
        <p class="opacity-text">
          Οι μπανάνες είναι ένα από τα πιο αγαπημένα φρούτα των ανθρώπων, γνωστά
          για την γλυκιά τους γεύση και την υψηλή τους περιεκτικότητα σε
          κάλιο.
        </p>
        <div fxLayoutAlign="space-between center">
        <span>από <strong class="font-30">1.48€</strong></span>
          <div style="width: 120px"  [fxHide.lt-md]="false" [fxHide.gt-sm]="true">
            <div class=" border-none back-btn-action" style="height: 60px; align-items: center"
                 fxLayoutAlign="center center">
              <span (click)="onRemoveQuantity()" class="cursor-pointer pad-l-20 pad-r-20">-</span>
              <span>{{quantity}}</span>
              <span (click)="onAddQuantity()" class="cursor-pointer pad-l-20 pad-r-20">+</span>
            </div>
          </div>
        </div>
        <div class="pad-t-20" fxLayout="row" style="gap: 20px">
          <div style="width: 120px"  [fxHide.lt-md]="true" [fxHide.gt-sm]="false">
            <div class=" border-none back-btn-action" style="height: 60px; align-items: center"
                 fxLayoutAlign="center center">
              <span (click)="onRemoveQuantity()" class="cursor-pointer pad-l-20 pad-r-20">-</span>
              <span>{{quantity}}</span>
              <span (click)="onAddQuantity()" class="cursor-pointer pad-l-20 pad-r-20">+</span>
            </div>
          </div>
          <button style="height: 60px; width: 244px"
                  class="white border-none back-btn-default">{{'products.add-to-cart' | translate}}</button>
          <button style="height:60px; width: 60px" mat-icon-button class=" back-btn-action flex">
            <mat-icon class=" fa fa-heart-o"></mat-icon>
          </button>
          <button style="height:60px; width: 60px" mat-icon-button class=" back-btn-action flex">
            <mat-icon>playlist_add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Available Stores -->
<!--  <app-store [stores]="stores" [product]="product"></app-store>-->
  <app-store [product]="product"></app-store>
<!--  <div class="available-stores" fxFlex="100" fxLayout="column">-->
<!--    <h2 class="default">Διαθέσιμες Αλυσίδες</h2>-->
<!--    <span class="default pad-b-50 font-bold">{{'Σε'}} {{stores.length}} {{'αλυσίδες'}}</span>-->
<!--    <div class="stores-grid" fxFlex="100" fxLayout="row rap">-->
<!--      <div class="store-card" *ngFor="let store of stores">-->
<!--        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">-->
<!--          <div class="store-image" style="margin: 20px">-->
<!--            <img [src]="store.image ? store.image : './assets/images/logos/default-store-icon.png'" alt="Store Image"/>-->
<!--          </div>-->
<!--          <div fxFlex="100" style="padding: 10px">-->
<!--            <div class="left">-->
<!--              <div fxLayout="row" fxLayoutAlign="space-between center">-->
<!--                <p><strong>{{ store.name }}</strong></p>-->
<!--                <div class="opacity-text" fxLayout="row" fxLayoutAlign="start start">-->
<!--                  <mat-icon style="font-size: 1rem">gps_fixed</mat-icon>-->
<!--                  <span>{{store.distance}}</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="left" fxLayout="column">-->
<!--                <span>{{product.name}}</span>-->
<!--                <span class="opacity-text">{{product.category}}</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="pad-t-20" fxLayout="row rap" fxLayoutAlign="space-between center">-->
<!--              <div fxLayout="column" class="opacity-text">-->
<!--                <span class="text-left pad-b-5"><strong>Στοχεία καταστήματος</strong></span>-->
<!--                <div  fxLayout="row" fxLayoutAlign="start start" class="text-left">-->
<!--                  <mat-icon style="font-size: 1rem">phone</mat-icon>-->
<!--                  <span>{{store.phone}}</span>-->
<!--                </div>-->
<!--                <div fxLayout="row" fxLayoutAlign="start start" class="text-left">-->
<!--                  <mat-icon style="font-size: 1rem">location_on</mat-icon>-->
<!--                  <span>{{store.address}}</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash;              <span>{{ store.price }}€</span>&ndash;&gt;-->
<!--              <button style="height: 40px" fxLayoutAlign="start center" class="cursor-pointer white back-btn-light-green border-none pad-l-30 pad-r-30">-->
<!--                <span class="pad-r-20">{{store.price }}</span>-->
<!--                <div class="border-solid border-radius-full">-->
<!--                <mat-icon style="padding: 5px; height: 16.2px; width: 19.2px; font-size: 1.2rem">shopping_cart</mat-icon>-->
<!--                </div>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <!-- Monthly Price Review -->
  <!--  <div>-->
  <!--    <h2>Ανασκόπηση Μηνιαίων Τιμών</h2>-->
  <!--    &lt;!&ndash; Placeholder for graph component &ndash;&gt;-->
  <!--    <div class="price-graph">-->
  <!--      &lt;!&ndash; Add your chart/graph component here &ndash;&gt;-->
  <!--&lt;!&ndash;      <app-price-chart></app-price-chart>&ndash;&gt;-->
  <!--    </div>-->
  <!--  </div>-->
</div>
