<!--<div class="product-grid">-->
<!--  <h2>Products in {{ basket?.name }}</h2>-->
<!--  <div *ngIf="basket?.products?.length === 0">-->
<!--    <p>No products in this basket.</p>-->
<!--  </div>-->
<!--  <div *ngFor="let product of basket?.products" class="product-card">-->
<!--    <p>{{ product.name }} - {{ product.price }}€</p>-->
<!--    <button (click)="removeProduct(product.id)">Remove</button>-->
<!--  </div>-->
<!--  <button (click)="addProduct()">Add Product</button>-->
<!--</div>-->
