<!--<div class="cost-comparison">-->
<!--  <h2>Cost Comparison for {{ basket }}</h2>-->
<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th (click)="sortBy('store')">Store</th>-->
<!--      <th (click)="sortBy('totalCost')">Total Cost</th>-->
<!--      <th (click)="sortBy('availableProducts')">Available Products</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let storeCost of storeCosts">-->
<!--      <td>{{ storeCost.store.name }}</td>-->
<!--&lt;!&ndash;      <td>{{ storeCost.totalCost }}€</td>&ndash;&gt;-->
<!--&lt;!&ndash;      <td>{{ storeCost.availableProducts }}</td>&ndash;&gt;-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
